<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>video</key>
	<array>
		<dict>
			<key>icon</key>
			<string>updata_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美国</string>
				<string>英国</string>
				<string>加拿大</string>
				<string>德国</string>
				<string>法国</string>
				<string>澳大利亚</string>
				<string>西班牙</string>
				<string>日本</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type=A</string>
				</array>
				<array>
					<string>film_type=B</string>
				</array>
				<array>
					<string>film_type=C</string>
				</array>
				<array>
					<string>film_type=D</string>
				</array>
				<array>
					<string>film_type=E</string>
				</array>
				<array>
					<string>film_type=F</string>
				</array>
				<array>
					<string>film_type=G</string>
				</array>
				<array>
					<string>film_type=H</string>
				</array>
				<array>
					<string>film_type=T</string>
				</array>
			</array>
			<key>typeName</key>
			<string>最新更新</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>paternity_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美国动漫</string>
				<string>日本动漫</string>
				<string>精选剧场</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=A</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=A</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=A</string>
					<string>film_type4=C</string>
				</array>
			</array>
			<key>typeName</key>
			<string>亲子动漫</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>overseas_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>都市家庭</string>
				<string>惊悚悬疑</string>
				<string>战争动作</string>
				<string>青春偶像</string>
				<string>喜剧亲子</string>
				<string>科幻魔幻</string>
				<string>罪案警匪</string>
				<string>冒险灾难</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=G</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=H</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type2=I</string>
				</array>
			</array>
			<key>typeName</key>
			<string>海外剧场</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>wonderful_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>悬疑</string>
				<string>冒险</string>
				<string>喜剧</string>
				<string>动作</string>
				<string>爱情</string>
				<string>科幻</string>
				<string>战争</string>
				<string>灾难</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=G</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=H</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=I</string>
				</array>
			</array>
			<key>typeName</key>
			<string>精彩电影</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>documentary_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美食诱惑</string>
				<string>自然系列</string>
				<string>名车展览</string>
				<string>战争历史</string>
				<string>风景人物</string>
				<string>运动生存</string>
				<string>建筑艺术</string>
				<string>军事武器</string>
				<string>宇宙探索</string>
				<string>动物世界</string>
				<string>世界遗产</string>
				<string>海底揭秘</string>
				<string>历险奇遇</string>
				<string>BBC</string>
				<string>Discovery</string>
				<string>History</string>
				<string>国家地理</string>
				<string>科学频道</string>
				<string>探索频道</string>
				<string>其他</string>
				<string>IMAX</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=G</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=H</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=I</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=J</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=K</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=L</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=M</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=N</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=O</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=P</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=Q</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=R</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=S</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=T</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=U</string>
				</array>
			</array>
			<key>typeName</key>
			<string>缤纷纪录片</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>variety_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美食秀</string>
				<string>歌舞秀</string>
				<string>相亲秀</string>
				<string>达人秀</string>
				<string>探险秀</string>
				<string>爱情秀</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=G</string>
				</array>
			</array>
			<key>typeName</key>
			<string>人气综艺</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>energy_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>耶鲁大学</string>
				<string>TED演讲</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=F</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=F</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=F</string>
					<string>film_type3=C</string>
				</array>
			</array>
			<key>typeName</key>
			<string>能量加油站</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>child_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美剧</string>
				<string>动画片</string>
				<string>纪录片</string>
				<string>综艺节目</string>
				<string>幼教</string>
				<string>电影</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=F</string>
				</array>
			</array>
			<key>typeName</key>
			<string>幼儿教育</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>news_icon</string>
			<key>class</key>
			<string>ECCassificationViewController</string>
			<key>subTypeName</key>
			<array>
				<string>BBC</string>
				<string>CNN</string>
				<string>VOA</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>A</string>
				</array>
				<array>
					<string>A</string>
				</array>
				<array>
					<string>A</string>
				</array>
			</array>
			<key>typeName</key>
			<string>新闻学英语</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>us_icon</string>
			<key>class</key>
			<string>ECCassificationViewController</string>
			<key>subTypeName</key>
			<array>
				<string>外教课</string>
				<string>用美国小孩的方式学英语</string>
				<string>LittleF</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>B</string>
				</array>
				<array>
					<string>B</string>
				</array>
				<array>
					<string>B</string>
				</array>
			</array>
			<key>typeName</key>
			<string>美剧学英语</string>
		</dict>
	</array>
	<key>function</key>
	<array>
		<dict>
			<key>icon</key>
			<string>localFile_icon</string>
			<key>class</key>
			<string>GLVideoBrowseViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美国</string>
				<string>英国</string>
				<string>加拿大</string>
				<string>德国</string>
				<string>法国</string>
				<string>澳大利亚</string>
				<string>西班牙</string>
				<string>日本</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type=A</string>
				</array>
				<array>
					<string>film_type=B</string>
				</array>
				<array>
					<string>film_type=C</string>
				</array>
				<array>
					<string>film_type=D</string>
				</array>
				<array>
					<string>film_type=E</string>
				</array>
				<array>
					<string>film_type=F</string>
				</array>
				<array>
					<string>film_type=G</string>
				</array>
				<array>
					<string>film_type=H</string>
				</array>
				<array>
					<string>film_type=T</string>
				</array>
			</array>
			<key>typeName</key>
			<string>搜索</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>newword_icon</string>
			<key>class</key>
			<string>GLBrowseMovieViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美国动漫</string>
				<string>日本动漫</string>
				<string>精选剧场</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=A</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=A</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=A</string>
					<string>film_type4=C</string>
				</array>
			</array>
			<key>typeName</key>
			<string>生词本</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>download_icon</string>
			<key>class</key>
			<string>GLBrowseMovieViewController</string>
			<key>subTypeName</key>
			<array>
				<string>都市家庭</string>
				<string>惊悚悬疑</string>
				<string>战争动作</string>
				<string>青春偶像</string>
				<string>喜剧亲子</string>
				<string>科幻魔幻</string>
				<string>罪案警匪</string>
				<string>冒险灾难</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=G</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type3=H</string>
				</array>
				<array>
					<string>film_type2=B</string>
					<string>film_type2=I</string>
				</array>
			</array>
			<key>typeName</key>
			<string>下载队列</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>videobrowser_icon</string>
			<key>class</key>
			<string>GLBrowseMovieViewController</string>
			<key>subTypeName</key>
			<array>
				<string>悬疑</string>
				<string>冒险</string>
				<string>喜剧</string>
				<string>动作</string>
				<string>爱情</string>
				<string>科幻</string>
				<string>战争</string>
				<string>灾难</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=G</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=H</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=I</string>
				</array>
			</array>
			<key>typeName</key>
			<string>本地视频</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>WLAN_icon</string>
			<key>class</key>
			<string>GLBrowseMovieViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美食诱惑</string>
				<string>自然系列</string>
				<string>名车展览</string>
				<string>战争历史</string>
				<string>风景人物</string>
				<string>运动生存</string>
				<string>建筑艺术</string>
				<string>军事武器</string>
				<string>宇宙探索</string>
				<string>动物世界</string>
				<string>世界遗产</string>
				<string>海底揭秘</string>
				<string>历险奇遇</string>
				<string>BBC</string>
				<string>Discovery</string>
				<string>History</string>
				<string>国家地理</string>
				<string>科学频道</string>
				<string>探索频道</string>
				<string>其他</string>
				<string>IMAX</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=C</string>
					<string>film_type3=G</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=H</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=I</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=J</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=K</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=L</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=M</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=N</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=O</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=P</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=Q</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=R</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=S</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=T</string>
				</array>
				<array>
					<string>film_type2=D</string>
					<string>film_type3=U</string>
				</array>
			</array>
			<key>typeName</key>
			<string>局域网共享</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dictation_icon</string>
			<key>class</key>
			<string>GLBrowseMovieViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美食秀</string>
				<string>歌舞秀</string>
				<string>相亲秀</string>
				<string>达人秀</string>
				<string>探险秀</string>
				<string>爱情秀</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=F</string>
				</array>
				<array>
					<string>film_type2=E</string>
					<string>film_type3=G</string>
				</array>
			</array>
			<key>typeName</key>
			<string>自助听写</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>recorder_icon</string>
			<key>class</key>
			<string>GLBrowseMovieViewController</string>
			<key>subTypeName</key>
			<array>
				<string>耶鲁大学</string>
				<string>TED演讲</string>
				<string>其他</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=F</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=F</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=F</string>
					<string>film_type3=C</string>
				</array>
			</array>
			<key>typeName</key>
			<string>录音匹配</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>setting_icon</string>
			<key>class</key>
			<string>GLBrowseMovieViewController</string>
			<key>subTypeName</key>
			<array>
				<string>美剧</string>
				<string>动画片</string>
				<string>纪录片</string>
				<string>综艺节目</string>
				<string>幼教</string>
				<string>电影</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=A</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=B</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=C</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=D</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=E</string>
				</array>
				<array>
					<string>film_type2=G</string>
					<string>film_type3=F</string>
				</array>
			</array>
			<key>typeName</key>
			<string>配置</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>change_icon</string>
			<key>class</key>
			<string>ECCassificationViewController</string>
			<key>subTypeName</key>
			<array>
				<string>BBC</string>
				<string>CNN</string>
				<string>VOA</string>
			</array>
			<key>subTypes</key>
			<array>
				<array>
					<string>A</string>
				</array>
				<array>
					<string>A</string>
				</array>
				<array>
					<string>A</string>
				</array>
			</array>
			<key>typeName</key>
			<string>切换账户</string>
		</dict>
	</array>
</dict>
</plist>
